@charset "UTF-8";

body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(rgba(41, 41, 41, 0.842) 0%, rgb(207, 207, 207) 100%);
}

.hide {
    display:none;
}

p {
    color: rgb(20, 20, 20);
}

b {
    color: rgb(0,0,0);
}

h1{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #C5C5C5;
    text-shadow: 0px 0px 5px black;
}

h2 {
    color: #C5C5C5;
    text-shadow: 0px 0px 5px black;
}

div:not(#main .center) {
    border-bottom: 1px solid black;
}

#nav {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#nav a{
    display: inline-block;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.center {
    text-align: center;
}

img{
    padding: 5px;
    width: 25%;
    height: 25%;
}

a{
    text-decoration: none;
}

a:link {
    color: #D8DAD7;
}

a:visited {
    color: #D8DAD7;
}

a:hover {
    color: #a8a9a7;
}

a:active {
    color: #8b84b9
}

#ed a:link {
    color: #d8d8d8;
}

#ed a:visited {
    color: #d8d8d8;
}

#ed a:hover {
    color: #787977;
}

#ed a:active {
    color: #666186;
}

::selection{
    color: #a9a7b5;
    background: #7a7a7a;
}

#ed li{
    padding: 10px;
    text-align: left;
}
