@font-face {
    font-family: 'rockSalt';
    src: url(RockSalt.ttf);
 }
 

body{
    padding: 0;
    margin: 0;
}
header{
    background-color:black;
    display: flex;
    flex-direction: row;
    margin:0;
    justify-content: space-between;
    color: red;
}
header h1{
    color: rgb(187, 9, 8);
    font-family: 'Teko';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    color:rgb(187, 9, 8);
    margin-left: 5px;
    align-self: flex-end;
}
footer{
    background-color:black;
    display: flex;
    color:rgb(188, 188, 188);
    font-family:'T'
}

span{
    color:rgb(187, 9, 8);
    font-size: 30px;
    margin-right: 5px;
    align-self: center;
}

main{
    display:flex;
    flex-direction: row;
    background: rgb(40, 40, 40);
}

main .leftMain {
    display: flex;
    flex-direction: column;
}

main .banner img{
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 388px;
}

main .bottom{
    display: flex;
    flex-direction: row;
}

main .anniversery {
    margin: 10px;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: row;
    border-top: 4px solid red;
}

main .anniversery .poster{
    width: 310px;
    height: 478px;
    margin-right: 10px;
}

main .anniversery h2{
    color: red;
    font-family: 'rockSalt';
    border-bottom: 4px solid rgb(187, 9, 8);
    text-align: center;
}
main .anniversery p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 5px;
}
main .anniversery .case{
    width: 117px;
    height: 148px;
    margin-right: 10px;
}

main .rightMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(57, 57, 57);
}

main .rightMain .sign{
    width: 325px;
    height: 254px;
}

main .rightMain .underwater{
    width: 325px;
    height: 170px;
    margin: 15px;
}

main .rightMain b{
    color: rgb(252, 3, 3);
}

main .rightMain p{
    color: rgb(255, 255, 255);
    margin-left: 15px;
}

main .pennant {
    width: 641px;
    height: 229px;
}

main .overview {
    margin: 10px;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px;
}

main .overview img{
    width: 641px;
    height: 229px;
}